.App {
  text-align: center;
}

.red{
  background-color: darkblue;
}

.bold{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btnstyle{
  background-color:green;
  padding:5px;
  border:0px
}